.result {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}

.detail{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
